extends ./layout2.jade
block contenido
	.container
		.divicion
		.divicion
		if user.color == undefined
			div
				p No tienes permiso para modificar informacion
		else
			div(class="risponsive")
				div(class="promocion" align="center")
						p #{user}
							a(href="/app/delet/edit/#{user._id}") 
								button Editar
							form(action="/app/delet/edit/#{user._id}?_method=DELETE", method="POST")
								input(type="submit", value="Eliminar")
	script(type='text/javascript', src='../../public/js/bootstrap.js')
		script(type='text/javascript', src='../../public/js/bootstrap.min.js')
		script(type='text/javascript', src='../../public/js/jquery.min.js')
		script(type='text/javascript', src='../../public/js/jquery.min.v1.js')