extends ./layout2.jade
block contenido 
	.divicion 
	.divicion
	if user.color == undefined
		div
			p No tienes permiso para modificar informacion
	else
		.container
			div(class="risponsive")
				div(class="promocion" align="center")

					h2 Sube una nueva imagen
					form(action="/app/imagenes" method="POST" enctype="multipart/form-data")
						div(class="form-group")
							label(for="title") El precio de la promocion es :
						div
							input(type="text", name="title", placeholder="Titulo de la imagen ", id="title", class"form-control") 
						div
							label(for="nombre1") El Nombre de la promocion es :
						div
							input(type="text", name="nombre1", placeholder="Titulo de la imagen ", id="nombre1", class"form-control") 
						div(class="form-group")
							label(for="foto") las foto de un local:
						div
							select(type="text", name="foto", placeho der="es local ", id="foto", class"form-control")
								option(value="normal" selected="normal") Imagen de perfil
						div 
							h2(for="archivo") Sube Tu Imagen 
							input(type="file", name="archivo", id="archivo" ,class"form-control" )
						div 
							input(type="submit" value="subir imagen" class="btn btn-info" style="width: auto; margin: 10px auto 0px ; background: rebeccapurple;color: white ;  ")
				div(class="ejpromocion" align="center")
					section(class="ciudades")
						div 
							h2 Nombre de promocion
							img(src="/public/imagenes/img/negocio.jpg")
							p precio $:
								spam(class="formu") 10.000
							p DIRECCION :
								spam(class="formu") calle 18m 17-34
							a(href="/app/imagenes/new") 
								label Entra a la pagina
							a(href="/app/imagenes/new") 
								label Pedir
			
	script(type='text/javascript', src='../../public/js/bootstrap.js')
	script(type='text/javascript', src='../../public/js/bootstrap.min.js')
	script(type='text/javascript', src='../../public/js/jquery.min.js')
	script(type='text/javascript', src='../../public/js/jquery.min.v1.js')