extends ./layout.jade
block contenido 
		.coreccion(style="width: 90%; margin-left: 5%; text-align: center;")
			h2#contacta.titulo CONDICIONES GENERALES DE USO DEL SITIO WEB DE antes-de.com
			.contactanosa

				p antes-de.com (en adelante antes de) con domicilio en Calle 18 N 17-24 piso 3 boyaca con nit 1052406029-3 representada por NESTOR SEBASTIAN MARTINEZ PERALTA pone a disposición en su sitio web antes-de.com determinados contenidos de carácter informativo sobre sus actividades.

			.divicion

				p Las presentes condiciones generales rigen única y exclusivamente el uso del sitio web de antes de   por parte de los USUARIOS que accedan al mismo. Las presentes condiciones generales se le exponen al USUARIO en el sitio web antes-de.com en todas y cada una de las páginas y cada vez que un USUARIO introduce sus datos en los formularios existentes, para que las lea, las imprima, archive y acepte a través de internet, no pudiendo el USUARIO introducir sus datos efectivamente sin que se haya producido esta aceptación. 

			p El acceso al sitio web de antes de  implica sin reservas la aceptación de las presentes condiciones generales de uso que el USUARIO afirma comprender en su totalidad. El USUARIO se compromete a no utilizar el sitio web y los servicios que se ofrecen en el mismo para la realización de actividades contrarias a la ley y a respetar en todo momento las presentes condiciones generales.

			h2#contacta.titulo PRIMERA.- CONDICIONES DE ACCESO Y USO	
			.contactanosa
				p 1.1.-La utilización del sitio web de antes de  no conlleva la obligatoriedad de inscripción del USUARIO, salvo si este USUARIO desee utilizar la base de datos de artículos existentes en antes-de.com donde será preciso que se registre cubriendo un formulario básico, ésta suscripción  se regirá por las condiciones generales específicas. Las condiciones de acceso y uso del presente sitio web se rigen estrictamente por la legalidad vigente y por el principio de buena fe comprometiéndose el USUARIO a realizar un buen uso de la web.  Quedan prohibidos todos los actos que vulneren la legalidad, derechos o intereses de terceros: derecho a la intimidad, protección de datos, propiedad intelectual etc. Expresamente antes de prohíbe los siguientes:                

				p 1.1.1.- Realizar acciones que puedan producir en el sitio web o a través del mismo por cualquier medio cualquier tipo de daño a los sistemas de antes de  o a terceros.        

				p 1.1.2.- Realizar sin la debida autorización cualquier tipo de publicidad o información comercial directamente o de forma encubierta, el envío de correos masivos ("spaming") o envío de grandes mensajes con el fin de bloquear servidores de la red ("mail bombing").        

				p 1.2.- antes de  podrá interrumpir en cualquier momento el acceso a su sitio web si detecta un uso contrario a la legalidad, la buena fe o a las presentes condiciones generales- ver cláusula quinta.   

			.divicion
			h2#contacta.titulo SEGUNDA.- CONTENIDOS. Los contenidos incorporados en este sitio web han sido elaborados e incluidos por:
			.contactanosa
				p  2.1.- antes de  utilizando fuentes internas y externas de tal modo que antes de  únicamente se hace responsable por los contenidos elaborados de forma interna.

				p 2.2.- antes de  se reserva el derecho a modificar en cualquier momento los contenidos existentes en su sitio web.

			h2#contacta.titulo TERCERA.- DERECHOS DE AUTOR Y MARCA 
			.contactanosa
				p antes de  informa que el sitio web antes-de.com los contenidos propios, la programación y el diseño del sitio web se encuentra plenamente protegido por los derechos de autor, quedando expresamente prohibida toda reproducción, comunicación, distribución y transformación           de los referidos elementos protegidos salvo consentimiento expreso de antes-de.com antes de   utiliza fuentes externas para la elaboración de sus contenidos en determinadas ocasiones y también establece links o hiperenlaces a artículos o informaciones de terceros citando siempre la fuente. El legítimo titular de los derechos de autor de estas informaciones así incluidas podrá solicitar en cualquier momento la  eliminación de las referidas referencias.

			h2#contacta.titulo CUARTA.- JURISDICCIÓN Y LEY APLICABLE 
			.contactanosa
				p Las presentes condiciones generales se rigen por la legislación española. Son competentes para resolver toda controversia o conflicto que se derive de las presentes condiciones generales los Juzgados renunciando expresamente el USUARIO a cualquier otro fuero que pudiera corresponderle.
			h2#contacta.titulo QUINTA 
			.contactanosa
				p En caso de que cualquier cláusula del presente documento sea declarada nula, las demás cláusulas seguirán vigentes y se interpretarán teniendo en cuenta la voluntad de las partes y la finalidad misma de las presentes condiciones. antes de  podrá no ejercitar alguno de los derechos y facultades conferidos en este documento lo que no implicará en ningún caso la renuncia a los mismos salvo reconocimiento expreso por parte de antes de 
		script(type='text/javascript', src='/public/js1/jquery.min.v1.js')
		script(type='text/javascript', src='/public/js1/bootstrap.min.js')